* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #333;
    background: #FFF;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 12px 0;
}

h1 {
    font-size: 26px;
}

h2 {
    font-weight: 300;
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

address {
    margin-bottom: 5px;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
    font-size: 0.8em;
    display: inline-block;
    color: #c5c4c4;
    font-style: italic;
    font-weight: normal;
}

a {
    color: midnightblue;
}

a:hover {
    text-decoration: underline;
}

button {
    border: 1px solid #DDD;
    background: #FFF;
    border: 1px solid rgb(226, 223, 223);
    color: rgb(42, 160, 239);
    line-height: 35px;
    padding: 0 15px;
    min-width: 100px;
}

button:hover {
    background-color: #4b7bc2;
    border-color: rgb(75, 123, 194);
    color: rgb(255, 255, 255);
}

.top-header {
    background-color: rgb(27, 80, 131);
    color: rgba(150, 193, 216, 1);
    line-height: 40px;
    padding: 0 15px;
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.nav {
    background-color: rgb(8, 138, 218);
    padding: 0 15px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
}

.codeplayer-slider {
    background-color: rgb(8, 138, 218);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.minddlecont {
    padding: 20px;
}

.rows {
    margin-bottom: 10px;
}

.rows label {
    position: relative;
    line-height: 20px;
    min-width: 100px;
    vertical-align: top;
    display: inline-block;
}

.rows label:after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 12px;
    font-weight: bold;
}

.rows input,
.rows textarea {
    padding: 2px 15px;
    border-radius: 5px;
    line-height: 31px;
    border: 2px solid #DDD;
    display: inline-block;
}

.rows textarea {
    font-family: 'Roboto', sans-serif;
    min-width: 280px;
}

.rows+#success {
    font-size: 14px;
}

.rows button {
    margin-left: 104px;
    cursor: pointer;
    border-radius: 4px;
}

.work-exprerience {
    margin-top: 40px;
    margin-bottom: 50px;
}

.work-exprerience ul li {
    vertical-align: top;
    max-width: 400px;
    display: inline-block;
    padding: 15px;
    padding-bottom: 35px;
    border: 2px solid #DDD;
    margin: 0 0 20px 0;
    border-radius: 10px;
    position: relative;
}

.work-exprerience ul li button {
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.work-exprerience ul li .time {
    margin-bottom: 10px;
}

.footernav ul li {
    display: inline-block;
}

.footer {
    padding: 20px;
    background-color: rgb(37, 40, 42);
    color: rgb(161, 163, 164);
}

.footer a {
    color: rgb(161, 163, 164);
}