* {
    margin: 0; padding: 0;
}
body {
    color: #333;
    background: #FFF;
    font-size: 13px;
    text-decoration: none;
}
a {
    color: midnightblue;
}
a:hover {
    text-decoration: underline;
}
.header {
    background-color: dodgerblue;
    padding: 20px;
}
.nav ul { margin: 0; padding: 0;}
.nav ul li { display: inline-block;}

.footer {
    padding: 20px 0;
    background-color: #f5f6fa;
}