$white:         #FFFFFF;
$alto:          #dad9d9;
$tundora:       #4C4C4C;
$heavy_metal:   #282922;
$black:         #000000;
$royal_blue:    #1a73e8;
$orange_peel:   #FF9800;
$mariner:       #1F73BC;
$mariner:       #1F73BC;
