.Nav { 
    background-color: #EBEDEF; 
    height: 100vh;
    padding: 4rem 0;
    box-sizing: border-box;
    min-width: 9.6rem;
    margin-left: -7rem;
}
.Nav ul {
    list-style: none;
}
.Nav li { margin-bottom: 10px; text-align: right;} 
.Nav svg { min-width: 20px; text-align: center;}
.Nav a {
    padding: .25rem 1rem;
    line-height: 1.5rem;
    display: inline-block;
    font-size: .85rem;
    text-decoration: none;
    color: #777;
    width: 100%;
    box-sizing: border-box;
}
.Nav a span { margin-right: 1rem;}
.Nav a:hover, .NavActive { 
    color: #FE5F58; 
    background: #ccc;
}
@media screen and (min-width: 767px) {
    .Nav { margin-left: 0;}
}