.Header {
    padding: 1.5rem;
    background-color: #fff;
}
.main-logo {
    font-weight: 600;
    text-shadow: 0 0 0.25em rgba(197,253,242,0.75), 0 0 0.125em #7ED4D4;
}
.main-logo a {
    text-decoration: none;
}