* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%;}
body {
    background-color: #282922;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}
button:focus {
    outline: none;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    font-size: 0.875em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6, p:not(:last-child) {
    margin: 0 0 15px 0;
}
a {
    color: #1a73e8;
}


#root { height: 100%;}
#root .Codeplayer { height: 100%;}
.Codeplayer {
    display: flex;
    margin: 0 auto;
}


.Header {
    min-height: 50px;
}
.Logo {
    background-color: #FE5F58;
    padding: 0 20px;
    line-height: 30px;
    border-radius: 20px;
    
    position: absolute;
    left: 1rem;
    top: .45rem;
    z-index: 1;
}
.Logo a {
    color: #760101;
    text-decoration: none;
    font-weight: 600;
}

.Container {
    padding: 3rem 1rem;
    box-sizing: border-box;
}

.sec { padding-left: 2rem; border-left: 1px solid #474841;}

.editorlines { height: 100%; padding: 3rem 1rem; box-sizing: border-box;}
.editorlines span { min-height: 20px; line-height: 2.1rem; display: block; color: #8a8989;}

.docStart { margin-bottom: 0rem;}
.docStart::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0 0;
    width: 135px;
    height: 30px;
    display: inline-block;
}

.html, .body, .h1, .working, p, button, a.contact-us {
    padding: .1rem 2rem;
    margin: 2rem 0;
    position: relative;
    border-left: 1px solid #474841;
    display: block;
}
.html::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0 -27px;
    width: 135px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}
.html::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0 -53px;
    width: 135px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -30px;
}




.body::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0 -79px;
    width: 57px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}


.body::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat -73px -78px;
    width: 63px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -30px;
}

.h1 { color: #fff; margin-bottom: 4rem;}
.h1::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0 -104px;
    width: 39px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}
.h1::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat -52px -105px;
    width: 44px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    left: 0;
}


.working {
    color: #fff;
    margin-bottom: 4rem;
}
.working::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0px -206px;
    width: 170px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}
.working::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0px -233px;
    width: 48px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.body p {
    color: #FFF;
    margin-bottom: 2rem;
}
p::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0px -131px;
    width: 32px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}
p::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat -42px -131px;
    width: 32px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    left: 0;
}


.body button {
    color: #FFF;
}
a.contact-us {
    font-size: 2rem;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
}
button::before, a.contact-us::before {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0px -157px;
    width: 174px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 0;
}
button::after, a.contact-us::after {
    content: '';
    background: url(./images/html-tags.svg) no-repeat 0px -181px;
    width: 73px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    left: 0;
}
