* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%;}
body {
    background-color: #282922;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #dad9d9;
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    border: none;
}
button:focus {
    outline: none;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    font-size: 0.875em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6, p:not(:last-child) {
    margin: 0 0 15px 0;
}
a {
    color: #1a73e8;
}


#root { height: 100%;}
.Codeplayer {
    margin: 0 auto;
}

.AboutInfo { padding: 0;}

.InfoSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.Header {
    min-height: 50px;
    padding: 2rem 0;
    background-color: rgba(235,237,239, .1);
}

.Logo {
    background-color: #FE5F58;
    padding: 0 .85rem;
    line-height: 30px;
    border-radius: 20px;
    z-index: 1;
}
.Logo a {
    color: #760101;
    text-decoration: none;
    font-weight: 600;
}

.Container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem 0rem;
    box-sizing: border-box;
}

.Work-postion { margin-bottom: 1rem;}
.Work-postion svg { margin-right: .5rem;}

.SocialNet { display: flex; justify-content: space-between; align-items: center; margin-bottom: 3rem;}

.Clientele { display: flex; justify-content: space-between;}