* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%;}
body {
    background-color: #282922;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #dad9d9;
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}
div {
    margin-bottom: 1rem;
}
button:focus {
    outline: none;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    font-size: 0.875em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6, p:not(:last-child) {
    margin: 0 0 15px 0;
}
a {
    color: #1a73e8;
}


#root { height: 100%;}
#root .Codeplayer { height: 100%;}
.Codeplayer {
    display: flex;
    margin: 0 auto;
}


.Header {
    min-height: 50px;
}
.Logo {
    background-color: #FE5F58;
    padding: 0 20px;
    line-height: 30px;
    border-radius: 20px;
    
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
}
.Logo a {
    color: #760101;
    text-decoration: none;
    font-weight: 600;
}

.Container {
    padding: 3rem 1rem;
    box-sizing: border-box;
}

.sec { padding-left: 2rem; border-left: 1px solid #474841;}

.editorlines { height: 100%; padding: 3rem 1rem; box-sizing: border-box;}
.editorlines span { 
    min-height: 20px;
    line-height: 1.5rem;
    display: block;
    color: #656363;
    font-size: .85rem;
}
